body {
  background-color: black;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carouselContainer {
  position: relative;
  width: 100%;
  height: 66%;
  overflow-x: hidden;
  display: flex;
}

#carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  height: 66%;
  width: 100%;
}

.carousel-item {
  position: relative;
  flex-shrink: 0;
  margin-right: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
}

.carousel-item img {
  user-select: none;
  position: absolute;
  height: 115%;
  left: -100%;
}

#carousel .carousel-item:first-child {
  margin-left: 42.5%;
}

#carousel .carousel-item:last-child {
  margin-right: 42.5%;
}

#carousel::-webkit-scrollbar {
  display: none; /* Hide scrollbar on Chrome, Safari and newer versions of Opera */
}

#carousel {
  -ms-overflow-style: none; /* Hide scrollbar on IE and Edge */
  scrollbar-width: none; /* Hide scrollbar on Firefox */
}
